# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Environment variables
.env

# Azure CLI
.azure/

# Terraform
*.tfstate
*.tfstate.*

app.zip
__pycache__/
*.pyc

access-log.txt
config.json